.nav{
    position: sticky;
    z-index: 999;
    background-color: black;
    height:10vh;
    width:100%;
}
.nav-buttons{
        display:flex;
        align-items: center;
        justify-content: flex-end;
      

}
button {
    margin-top: 15px;
	width: 130px;
	height: 40px;
	cursor: pointer;
	font-size: 18px;

	letter-spacing: 5px;
	background: #f5f4f1;
	border: 2px solid black;
	box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
	transition: 800ms;
    margin-right: 15px;
}
button:hover{
    color: #f5f4f1;
    background-color: black;
    border: solid 1px #ffffff;
    letter-spacing: 0.1rem;
}
button:active{
    background-color: black;
}
