body {
    background-color: #ffffff;
    color:#000000;    
}
h1{
    font-size: 160px;
    color: #f4f4f4;
}
.movie-list1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top:20vh;
   
}




