.MovieList{
    height: 30vh;
    position: relative;
}
.wrapper {
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    scroll-behavior: smooth;
    height: 300x;
    width: 210px;
    
  text-align: center;}

  section {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
    
      height: 300px;
     
  }
      .item {
        padding: 0 4px;
        width: 200px;
        cursor: pointer;
      
        transition:  1s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
        .item:hover { 
          margin:scale(1.01);
          transform: scale(1.05);
        }
        .item img{
            width: 100%;
            
    
        }
.over{
  align-items: center;
   display: hidden;
   opacity: 0.001;
   transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
   transform: translateY(5%);
}
.over:hover{
  opacity: 1;

}

     

  
  


